:root {
	--text: #e0f5ef;
	--background: rgba(0, 0, 0, 0.2);
	--primary: rgba(28, 28, 28, 0.75);
	--secondary: #4e4f4f;
	--accent: #48c7a1;

	--glass: rgba(255, 255, 255, 0.2);
	--hover: rgba(96, 96, 96, 0.3);

	--border: transparent 1px solid;
	--border-color: transparent;
	--border-radius: 6px;
	--small-text: 14px;
	--medium-text: 18px;
	--large-text: 26px;
	--small-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

	--padding: .4rem;
	--margin: .4rem;

	--light-text: white;

	--font-family: "Inter", sans-serif;
	--code-font-family: "Jetbrains Mono", sans-serif;
	--artifacts-font-family: "Upheaval TT (BRK) Regular", sans-serif;
	--default-border-radius: 8px;
	color-scheme: dark;

	--eternal-constance-gradient: linear-gradient(to top, #09203f 0%, #537895 100%);
	--mystic-gradient: linear-gradient(to bottom, #D7DDE8, #757F9A);
	--midnight-city-gradient: linear-gradient(to bottom, #232526, #414345);

	--default-gradient: var(--midnight-city-gradient);
}

.light {
	--text: #e0f5ef;
	--background: transparent;
	--primary: rgba(255, 255, 255, 0.3);
	--secondary: #4e4f4f;
	--accent: #38b791;

	--glass: rgba(103, 208, 177, 0.2);
	--hover: rgba(255, 255, 255, 0.4);

	--border: transparent 1px solid;
	--border-color: transparent;
	--border-radius: 6px;
	--small-text: 14px;
	--medium-text: 18px;
	--large-text: 26px;
	--small-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

	--padding: .4rem;
	--margin: .4rem;

	--blue: #1a75ed;
	--light-text: white;

	--border-color-hover: transparent;
	--default-text-color: #021231;
	--font-family: "Inter", sans-serif;
	--code-font-family: "Jetbrains Mono", sans-serif;
	--artifacts-font-family: "Upheaval TT (BRK) Regular", sans-serif;
	--default-border-radius: 8px;
	color-scheme: light;

	--eternal-constance-gradient: linear-gradient(to top, #09203f 0%, #537895 100%);
	--mystic-gradient: linear-gradient(to bottom, #D7DDE8, #757F9A);
	--midnight-city-gradient: linear-gradient(to bottom, #232526, #414345);

	--default-gradient: var(--mystic-gradient);
}

@media (prefers-color-scheme: light) {
	:root {
		/* --primary-background-color: white; */
		--text-color: var(--text);
	}
}

@font-face {
	font-family: "Inter";
	src: url("/assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
	font-family: "Jetbrains Mono";
	src: url("/assets/fonts/JetBrainsMono-2.304/fonts/variable/JetBrainsMono[wght].ttf");
}

@font-face {
	font-family: "Upheaval TT (BRK) Regular";
	src: url("/assets/fonts/upheaval-tt-brk/upheavtt.ttf")
}

html {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	background: transparent;
	color: var(--text);
	height: 100%;
	font-weight: normal;
	overflow: auto;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);

	background: transparent;

	transition: 0.6s linear;
	height: 100%;
}

button {
	padding: var(--padding);
	margin: var(--margin);
	cursor: pointer;
	border: var(--border);
	border-radius: var(--border-radius);
	background: var(--primary);
	color: var(--text);
}

button:hover {
	background: var(--hover);
}

a {
	color: var(--text);
}

dialog {
	color: var(--default-text-color);
	background: var(--on-canvas);
	padding: 2rem;
	border: solid 1px var(--border-color);
	-webkit-backdrop-filter: blur(90px);
	backdrop-filter: blur(90px);
}

span svg {
	width: 24px;
	height: 24px;
}

ul {
	list-style: none;
}

main {
	grid-area: content;
	padding: 1rem;
	max-height: 90vh;
	overflow: auto;
	/* border-radius: 45.902px 0 0 0px;
	box-shadow: 0px 0.32970792055130005px 7.912988662719727px -0.32970792055130005px rgba(0, 0, 0, 0.18), 0px 0.7417190074920654px 2.2251572608947754px 0px rgba(255, 255, 255, 0.25) inset; */
	/* backdrop-filter: blur(32.25739669799805px); */
}


* {
	color: var(--text);
}

input {
	border: solid 1px transparent;
	background-color: var(--background);
}

p {
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

#main {
	margin: 0;
	padding: 0;
	height: 100%;
}

.canvas {
	padding: var(--padding);
	margin: var(--margin);
	border: var(--border);
	border-radius: var(--border-radius);
	background: var(--primary);
	color: var(--text);
}

.on-canvas {
	background: var(--secondary);
	padding: var(--padding);
	margin: var(--margin);
	border: var(--border);
	border-radius: var(--border-radius);
}

.button {
	margin: var(--margin);
	padding: var(--padding);
	cursor: pointer;
	border: transparent .4rem solid;
	border-radius: var(--border-radius);
	background: var(--primary);
	color: var(--text);
}

.button:hover {
	background: var(--hover);
}

.container {
	height: 100%;
	display: grid;
	grid-template-areas: 'header header' 'nav content';
	grid-template-rows: auto 1fr;
	grid-template-columns: 20vw 1fr;
	overflow: auto;
	background: var(--background);
}

.top-nav {
	grid-area: header;
	height: 6vh;
	align-items: center;
	display: flex;
	flex-direction: row;
	padding: var(--padding);
	padding-left: 1rem;
}

.glass {
	background: linear-gradient(137deg, rgba(163, 163, 163, 0.37) 0%, rgba(114, 114, 114, 0.42) 95.31%);
	box-shadow: 0px 0.32970792055130005px 7.912988662719727px -0.32970792055130005px rgba(0, 0, 0, 0.18), 0px 0.7417190074920654px 2.2251572608947754px 0px rgba(255, 255, 255, 0.25) inset;
	backdrop-filter: blur(32.25739669799805px);
}

.hover:hover {
	background: var(--hover);
}

.top-nav-heading {
	background: transparent;
	display: flex;
	align-items: center;
	flex: 1;
	font-family: var(--artifacts-font-family);
	font-size: var(--large-text);
	font-weight: 100;
}

.theme-toggle {
	display: flex;
	align-items: center;
	gap: .4rem;
}

.side-nav {
	grid-area: nav;
	padding: 1rem;
	padding-right: .5rem;
}

.side-nav-container {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 1vmin 0;
	padding: 0;
}

.side-nav-item {
	text-align: center;
	display: flex;
	font-size: medium;
	font-family: var(--artifacts-font-family);
	font-weight: 100;
	padding: .1rem;
	margin: .1rem;
	align-items: center;
}

.side-nav-link {
	text-decoration: none;
	color: var(--default-text-color);
	display: flex;
	flex-grow: 1;
	align-items: center;
	border: 1px solid transparent;
}

.character-image {
	width: 36px;
	height: 36px;
}

.image-icon {
	width: 18px;
	height: 18px;
}

.icon svg {
	width: 18px;
	height: 18px;
}

.side-nav-item .icon svg {
	padding-right: .3rem;
}

.side-nav-item .image-icon {
	padding-right: .3rem;
}

.logo svg {
	width: 58px;
	height: 58px;
}

.modal:modal {
	transform: translateY(0px);
	opacity: 1;

	display: flex;
	flex-direction: column;

	border-radius: 32px;
	background: linear-gradient(154deg, rgba(28, 28, 28, 0.40) 0%, rgba(80, 80, 80, 0.00) 100%);
	box-shadow: 0px 17.165912628173828px 21.45738983154297px 0px rgba(0, 0, 0, 0.05), 0px 0.715246319770813px 0.715246319770813px 0px rgba(255, 255, 255, 0.25) inset, 0px -0.715246319770813px 0.715246319770813px 0px rgba(255, 255, 255, 0.25) inset;
	backdrop-filter: blur(15.5px);

	min-width: 20vw;
	min-height: 20vh;

	padding: 0;
}

.modal::backdrop {
	background-color: rgba(rgba(0, 0, 0, 0.3));
}

.modal-close {
	align-self: flex-end;
}

.modal-close svg {
	height: 24px;
	width: 24px;
}

.modal-container {
	display: flex;
	flex-direction: column;
	padding: 1rem 1.5rem;

	flex-grow: 1;
}

.modal-side-panel-right:modal {
	margin-right: 0;

	display: flex;
	flex-direction: column;

	position: fixed;
	height: 100%;
	width: 20vw;

	border-radius: 55px;
	background: linear-gradient(154deg, rgba(28, 28, 28, 0.40) 0%, rgba(80, 80, 80, 0.00) 100%);
	box-shadow: 0px 17.165912628173828px 21.45738983154297px 0px rgba(0, 0, 0, 0.05), 0px 0.715246319770813px 0.715246319770813px 0px rgba(255, 255, 255, 0.25) inset, 0px -0.715246319770813px 0.715246319770813px 0px rgba(255, 255, 255, 0.25) inset;
	backdrop-filter: blur(15.5px);

	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.modal-side-panel-left:modal {
	margin-left: 0;

	display: flex;
	flex-direction: column;

	position: fixed;
	height: 100%;
	width: 20vw;

	border-radius: 55px;
	background: linear-gradient(154deg, rgba(28, 28, 28, 0.40) 0%, rgba(80, 80, 80, 0.00) 100%);
	box-shadow: 0px 17.165912628173828px 21.45738983154297px 0px rgba(0, 0, 0, 0.05), 0px 0.715246319770813px 0.715246319770813px 0px rgba(255, 255, 255, 0.25) inset, 0px -0.715246319770813px 0.715246319770813px 0px rgba(255, 255, 255, 0.25) inset;
	backdrop-filter: blur(15.5px);

	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.online-status {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	/* green color */
	/* glow effect */
}

.green {
	box-shadow: 0 0 5px rgba(52, 199, 89, 0.5);
	background-color: rgb(52, 199, 89);
}

.red {
	box-shadow: 0 0 5px rgba(199, 52, 52, 0.5);
	background-color: rgb(199, 52, 52);
}

.gray {
	box-shadow: 0 0 5px rgba(120, 124, 121, 0.5);
	background-color: rgb(120, 124, 121);
}

.server-status {
	display: flex;
	align-items: center;
	font-size: var(--small-text);
}

.server-status * {
	margin-left: .1rem;
	margin-right: .1rem;
}

.code {
	font-family: var(--code-font-family);
}

.artifacts-header {
	font-family: var(--artifacts-font-family);
	font-weight: 100;
}

.my-characters {
	display: flex;
	flex-wrap: wrap;
}

.character {
	flex: 1;
	max-width: 224px;
	width: 10vw;
}